@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background: $cream;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr auto;
  align-items: center;
  gap: 2rem;
}
